In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

In [2]:
dataset = pd.read_csv(r'data/anes_dataset.csv')

In [3]:
dataset.shape

(944, 10)

In [4]:
len(dataset)

944

In [5]:
type(dataset)

pandas.core.frame.DataFrame

In [6]:
dataset.head()

   popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income  vote
0      0       7       7       1       6    6   36     3       1     1
1    190       1       3       3       5    1   20     4       1     0
2     31       7       2       2       6    1   24     6       1     0
3     83       4       3       4       5    1   28     6       1     0
4    640       7       5       6       4    0   68     6       1     0

In [7]:
dataset.tail()

     popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income  vote
939      0       7       7       1       6    4   73     6      24     1
940      0       7       5       2       6    6   50     6      24     1
941      0       3       6       2       7    5   43     6      24     1
942      0       6       6       2       5    6   46     7      24     1
943     18       7       4       2       6    3   61     7      24     1

In [8]:
header = list(dataset.columns.values)
features = header[:-1]
target = header[-1]

x_train, x_test, y_train, y_test = train_test_split(dataset[features], dataset[target], test_size = 0.4)

print("X Train", x_train)
print("X Test", x_test)
print("Y Train", y_train)
print("Y Test", y_test)

X Train      popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income
893      0       0       6       2       5    6   56     3      24
255     93       2       1       3       6    1   41     6      14
52      33       7       4       3       6    3   69     2       4
438      0       2       4       2       6    1   45     3      17
182      8       7       2       2       6    0   78     3      12
801    220       2       4       2       6    6   31     6      22
848      0       5       6       1       6    6   57     7      23
19      19       2       2       1       4    0   36     3       2
572    180       7       2       2       4    0   44     5      19
940      0       7       5       2       6    6   50     6      24
769      9       0       4       2       6    1   21     5      21
129     44       7       5       3       7    2   78     4       9
868    110       1       5       2       6    6   28     4      23
793      4       7       4       2       6    2   32     6      22
256      0       7       3       2       6    1   67     3      14
292      4       3       3       5       3    4   48     3      15
384      1       7       4       7       2    0   53     1      16
291    470       3       4       4       7    0   39     3      15
371     29       1       4       5       3    0   58     1      16
464      9       6       5       4       6    0   75     6      17
420      2       0       4       2       4    4   72     3      17
445     35       0       6       1       6    4   36     6      17
392    630       0       6       5       4    1   35     4      16
12     190       2       5       4       6    5   22     4       1
854     16       7       6       2       6    6   53     6      23
205      2       7       1       2       7    1   66     4      12
442    170       1       2       2       7    0   34     6      17
15       0       7       6       7       5    0   62     3       1
545     64       2       5       2       6    6   26     5      19
758    310       0       5       2       7    0   35     4      21
..     ...     ...     ...     ...     ...  ...  ...   ...     ...
172    470       7       6       2       4    5   70     4      11
521      2       2       2       3       6    2   28     4      18
735     18       3       5       2       5    6   39     7      21
482      9       0       6       2       5    6   41     6      18
422     16       7       5       2       6    5   85     2      17
79       0       7       3       4       5    3   30     3       5
247      0       3       6       2       6    6   50     3      14
779      0       7       6       1       6    6   51     7      22
145     15       4       6       3       4    4   37     6      10
317      0       7       4       3       5    2   75     4      15
49       0       1       3       4       5    2   22     6       4
429     42       7       4       3       6    4   28     7      17
206     40       0       2       4       6    0   35     4      12
336     20       7       5       4       6    1   69     1      15
293    640       4       6       2       5    4   62     3      15
908     18       7       5       4       6    4   52     7      24
780      5       7       5       4       6    5   85     2      22
763     50       3       6       4       1    1   23     3      21
512      0       0       4       2       3    4   40     3      18
569    900       4       3       3       6    0   48     3      19
613      6       7       5       6       5    6   46     4      20
602    640       5       4       5       7    1   50     5      20
783      0       2       4       3       6    2   23     6      22
887     12       3       2       4       6    0   27     5      24
146      3       4       3       5       7    0   37     4      10
565      0       2       4       3       6    0   49     4      19
815    640       7       5       3       6    4   37     7      22
189    900       0       6       2       5    6   34     6      12
705     51       1       6       4       5    1   31     3      21
448      4       0       6       4       2    1   48     3      17

[566 rows x 9 columns]
X Test      popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income
471      0       0       2       3       5    1   31     7      17
333     51       7       3       1       7    0   74     3      15
928     59       7       4       2       6    2   70     3      24
682    190       2       4       2       7    1   30     6      21
173     22       7       6       1       6    6   87     5      11
710      1       6       6       1       6    6   63     7      21
310      2       6       3       4       6    0   35     4      15
563      0       1       4       4       6    1   41     4      19
642    100       0       3       2       6    2   42     4      20
98       0       3       5       3       6    5   47     6       7
213   2800       7       4       1       6    5   74     3      13
595      0       3       4       3       6    2   48     5      20
458     22       7       7       1       6    6   71     4      17
222      0       1       5       2       6    2   39     2      13
175     47       5       3       5       7    1   58     3      12
227      0       7       4       2       7    0   70     2      13
177    330       7       3       6       4    0   62     3      12
865      0       2       6       1       6    5   49     4      23
100      0       7       4       3       5    0   84     6       7
547      0       3       4       2       6    1   48     3      19
180     33       3       6       1       7    6   88     2      12
457     14       7       4       1       5    1   59     4      17
812    140       7       2       2       4    0   76     6      22
130   7300       1       2       2       7    3   27     6       9
796      0       0       4       4       4    3   40     3      22
724      0       5       4       4       3    2   29     3      21
630      9       2       3       3       6    2   40     6      20
577     34       4       6       2       6    6   30     6      20
409      0       7       6       1       5    6   40     6      16
214      0       0       4       4       3    1   36     3      13
..     ...     ...     ...     ...     ...  ...  ...   ...     ...
381     51       5       2       4       7    1   41     3      16
475      3       7       6       4       4    0   74     3      18
74       3       2       4       6       5    1   22     3       5
905     47       0       3       4       6    2   40     7      24
96      16       7       5       3       6    5   82     3       6
539      0       0       7       3       4    5   31     3      19
662    190       1       6       2       6    6   35     3      20
626      0       0       5       4       6    5   41     7      20
449     70       0       5       7       7    3   41     3      17
103     22       3       5       3       5    4   33     2       7
252      0       7       4       5       4    2   83     6      14
839      0       0       6       1       6    5   44     6      23
6      100       7       5       6       4    1   77     4       1
874    350       7       3       2       7    2   53     3      23
50       0       7       5       1       6    5   68     3       4
606    110       2       7       1       6    6   31     6      20
20      74       7       4       4       7    2   88     2       2
790      4       1       6       2       6    5   37     4      22
549     53       0       3       6       4    1   37     5      19
83      35       7       3       2       5    0   71     2       5
717     88       4       6       3       6    5   28     6      21
612     16       3       6       2       6    4   65     4      20
341      0       7       5       5       4    0   76     2      15
287     12       0       4       2       5    2   20     3      15
776      0       7       4       6       3    0   45     3      22
253     51       7       6       1       5    4   68     6      14
308     53       0       4       2       6    1   37     6      15
720     75       1       5       1       6    5   37     4      21
123      9       4       6       3       6    6   30     6       8
633     75       7       6       2       4    4   54     4      20

[378 rows x 9 columns]
Y Train 893    1
255    0
52     0
438    0
182    0
801    1
848    1
19     0
572    0
940    1
769    0
129    0
868    1
793    0
256    0
292    1
384    0
291    0
371    0
464    0
420    1
445    1
392    0
12     1
854    1
205    0
442    0
15     0
545    1
758    0
      ..
172    1
521    0
735    1
482    1
422    1
79     0
247    1
779    1
145    0
317    1
49     0
429    1
206    0
336    0
293    1
908    1
780    0
763    0
512    1
569    0
613    0
602    0
783    0
887    0
146    0
565    0
815    0
189    1
705    0
448    0
Name: vote, Length: 566, dtype: int64
Y Test 471    0
333    0
928    0
682    0
173    1
710    1
310    0
563    0
642    0
98     1
213    1
595    0
458    1
222    0
175    0
227    0
177    0
865    1
100    0
547    1
180    1
457    1
812    0
130    0
796    0
724    0
630    0
577    1
409    1
214    0
      ..
381    0
475    0
74     0
905    0
96     1
539    1
662    1
626    1
449    0
103    1
252    1
839    1
6      0
874    0
50     1
606    1
20     0
790    1
549    0
83     0
717    1
612    1
341    0
287    0
776    0
253    1
308    0
720    1
123    1
633    1
Name: vote, Length: 378, dtype: int64

In [9]:
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [10]:
train_accuracy = classifier.score(x_train, y_train)
print(train_accuracy)

0.901060070671

In [11]:
test_obs = x_test[:1]
print(test_obs)

     popul  TVnews  selfLR  ClinLR  DoleLR  PID  age  educ  income
471      0       0       2       3       5    1   31     7      17

In [12]:
print(classifier.predict(test_obs))

[0]

In [13]:
features_4 = ['TVnews','age','educ','income']
model_with_4_features = LogisticRegression()
model_with_4_features.fit(x_train[features_4], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
model_with_4_features_acc = model_with_4_features.score(x_train[features_4], y_train)
print(model_with_4_features_acc)

0.614840989399

In [15]:
test_obs_4 = x_test[features_4][:1]
print(test_obs_4)

     TVnews  age  educ  income
471       0   31     7      17

In [16]:
print(model_with_4_features.predict(test_obs_4))

[0]

In [18]:
model_for_all = classifier.predict(x_test)
model_for_all_predict = metrics.accuracy_score(model_for_all, y_test)



print(model_for_all_predict)

0.92328042328