In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
arr = ["Sachin","Dhoni","Rahul","Sehwag","Kohli","Ishant","Dhawan","Rohit"]
series = pd.Series(arr)

In [4]:
print(series)

0    Sachin
1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
5    Ishant
6    Dhawan
7     Rohit
dtype: object

In [5]:
series[0]

'Sachin'

In [6]:
series[1:5]

1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
dtype: object

In [7]:
series[:-1]

0    Sachin
1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
5    Ishant
6    Dhawan
dtype: object

In [8]:
series[::-1]

7     Rohit
6    Dhawan
5    Ishant
4     Kohli
3    Sehwag
2     Rahul
1     Dhoni
0    Sachin
dtype: object

In [9]:
# Will give top 5 items
series.head()

0    Sachin
1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
dtype: object

In [10]:
# Will give bottom 5 items
series.tail()

3    Sehwag
4     Kohli
5    Ishant
6    Dhawan
7     Rohit
dtype: object

In [11]:
series.head(8)

0    Sachin
1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
5    Ishant
6    Dhawan
7     Rohit
dtype: object

In [12]:
series.head(12)

0    Sachin
1     Dhoni
2     Rahul
3    Sehwag
4     Kohli
5    Ishant
6    Dhawan
7     Rohit
dtype: object

In [13]:
s = pd.Series([{
    "id" : 1,
    "name":  "Ram",
    "age" : 23,
    "salary":  25000
}])

In [14]:
s

0    {'id': 1, 'name': 'Ram', 'age': 23, 'salary': ...
dtype: object

In [15]:
print(s)

0    {'id': 1, 'name': 'Ram', 'age': 23, 'salary': ...
dtype: object

In [16]:
s = pd.Series({
    "id" : 1,
    "name":  "Ram",
    "age" : 23,
    "salary":  25000
})

In [17]:
s

age          23
id            1
name        Ram
salary    25000
dtype: object

In [18]:
s['age']

23

In [19]:
x = pd.Series([12, 18, "hello", 10.5, np.nan, 'foo'])

In [20]:
x

0       12
1       18
2    hello
3     10.5
4      NaN
5      foo
dtype: object

In [21]:
x.dtype

dtype('O')

In [22]:
x.dtypes

dtype('O')

In [23]:
num = pd.Series([12,45,11,78,49,17,65,88,89])

In [24]:
num.describe()

count     9.000000
mean     50.444444
std      31.725822
min      11.000000
25%      17.000000
50%      49.000000
75%      78.000000
max      89.000000
dtype: float64

In [25]:
num.mean()

50.44444444444444

In [26]:
num.std()

31.725821940144872